body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body {
   
    background-image: url('background.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px; 
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

.about, .portfolio, .contact {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
